web/node_modules
web/dist
server/internal/web/dist
server/token_gate

token_gate_darwin_amd64
token_gate_darwin_amd64.tar.gz
token_gate_darwin_arm64
token_gate_darwin_arm64.tar.gz
settings.local.json
diff_result.html
token_gate
